<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TP4 - Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="full" (click)="agregarElemento()">Agregar usuario aleatorio</ion-button>
  <ion-card>
    <ion-list>
       <!--ETIQUETA DE ITERACIÓN-->
      <ion-item *ngFor="let item of items">
        {{ item }}
        <ion-label>Hola</ion-label>
        <ion-button expand="block" (click)="setOpen(true)"><ion-icon name="information-outline"></ion-icon></ion-button>
        <ion-button expand="block" slot="end" (click)="eliminarElemento(item)" color="danger"><ion-icon name="trash-outline"></ion-icon></ion-button>
        <!--MODAL-->
        <ion-modal [isOpen]="isModalOpen">
          <ng-template>
            <!--CABEZA DEL MODAL-->
            <ion-header>
              <ion-toolbar>
                <ion-title>Información</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="setOpen(false)"><ion-icon name="close-outline"></ion-icon></ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <!--CUERPO DEL MODAL-->
            <ion-content class="ion-padding">
              <p>Direccion</p>
              <p>Telefono</p>
              <p>Mail</p>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
